:root {
  --light: #fff1f6f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  width: 100dvw;
  height: 100%;
  margin: 0;
  color: var(--light);
  background-image: linear-gradient(to bottom right, #0000003f, #22222241),
    linear-gradient(to bottom right, #a93b63d1, #481548d1, #372675d1),
    url("./assets/bg-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.container {
  display: flex;
}

#loginForm,
#signupForm {
  border: none;
  background-color: #2c1c515f;
  padding: 60px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: var(--light);
  font-weight: 600;
  margin-bottom: 30px;
}

p,
label {
  font-size: 12px;
  color: var(--light);
  display: inline-block;
}

input,
button {
  height: 35px;
  padding: 3px;
  width: 100%;
  display: block;
  margin-bottom: 25px;
  border: 1.5px solid #fff1f625;
  border-radius: 10px;
  background-color: #fff1f620;
  color: var(--light);
  outline: none;
  padding-left: 20px;
}

button {
  background-color: #a93b63;
  border: none;
  color: var(--light);
  font-size: 16px;
}

input[type="checkbox"] {
  color: var(--xlight);
  accent-color: #fff1f625;
  width: 14px;
  height: 14px;
  border: 1.5px solid #fff1f625;
  border-radius: 10px;
  outline: none;
}

input:focus {
  border: 1.5px solid #fff1f6a9;
}

input::placeholder {
  color: #fff1f641;
  /* padding-left: 4px; */
}

.additional-credentials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
